<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://your-jungle-book.onrender.com" class="nav-link px-2 text-body-secondary">Home</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li> -->
      <li class="nav-item"><a target="_blank" href="https://ryanp-portfolio.netlify.app/projects" class="nav-link px-2 text-body-secondary">Other Projects</a></li>
      <li class="nav-item"><a target="_blank" href="https://ryanp-portfolio.netlify.app/about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Your Jungle Book, Inc</p>
  </footer>
</div>